@font-face {
    font-family: "clockFont";
    src: url(clockFont.ttf) format("truetype");
}

body {
	background-color: black;
}

canvas {
	height: 100%;
	width: 100%;
}

#container {
	position: relative;
	margin: auto;
	width: 600px;
	height: 600px;
}